---
import Layout from '@/layouts/Layout.astro'
import WorkoutDay from '@/components/workout-day.astro'

import { TRAINING } from '@/data/training'
import { DAYS } from '@/const/days'

export const getStaticPaths = () => {
  return [
    { params: { day: 'monday' } },
    { params: { day: 'tuesday' } },
    { params: { day: 'wednesday' } },
    { params: { day: 'thursday' } },
    { params: { day: 'friday' } },
    { params: { day: 'saturday' } },
    { params: { day: 'sunday' } },
  ]
}

const { day } = Astro.params

const training = TRAINING.filter((workout) => workout.day === day)
const dayColor = DAYS[day].color
const accentColor = `var(--accent-${dayColor})`
---

<Layout title='Gym App'>
  {
    training.map(({ zone, workouts }) => {
      return (
        <section class={`pt-4 pb-8 [--accent:var(--accent-${dayColor})]`}>
          <h2 class='text-lg font-bold text-zinc-400 mb-2'>{zone}</h2>
          <WorkoutDay workouts={workouts} dayColor={dayColor} />
        </section>
      )
    })
  }
</Layout>

<style define:vars={{ accentColor }}>
  h1 {
    @apply text-xl font-bold;
    color: rgb(var(--accentColor));
  }
</style>
